body {
  font-family: 'Segoe UI', monospace;
  min-width: 600px;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5em;
  min-height: 900px;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #e0e0e0;
}

.container nav .link-container {
  display: flex;
  gap: 2em;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.calculator-wrapper {
  display: flex;
  padding: 1em;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 200px;
  margin: auto;
}

header {
  padding: 0.8em 0.1em;
  background-color: #858693;
  color: white;
}

header .result {
  font-size: 1.2rem;
  text-align: right;
}

.buttons table {
  border-spacing: 0;
  width: 100%;
}

.buttons tbody {
  display: flex;
  flex-direction: column;
}

.buttons tr {
  display: flex;
}

.buttons td {
  font-size: 0.6rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
  padding: 1.5em 1.8em;
  border: 1px solid #d3d3d3;
  background-color: #e0e0e0;
}

.buttons .signs {
  background-color: #f5913e;
}

.buttons .double-sized {
  flex: 2.93;
}

.quote {
  margin: auto;
  width: 80%;
}

.quote p {
  text-align: center;
  font-weight: 600;
}

.active-link {
  color: orangered;
  text-decoration: none;
}
